<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/styles/normalize.css'|url }}">
<link rel="stylesheet" href="{{ '/static/styles/typebase.css'|url }}">
<link rel="stylesheet" href="{{ '/static/styles/style.css'|url }}">
<link rel="icon" href="{{ '/static/images/favicon.png'|url }}">
<title>{% block title %}Welcome{% endblock %} — Diomari Madulara</title>

<!-- Get WebFont -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Source+Sans+Pro:400,600,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

<body>
  <header class="col-12">
    <h3>Diomari Madulara - Web Developer</h3>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/blog', 'Articles'],
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <!-- &copy; Copyright 2016 by Diomari Madulara. -->
  </footer>

</body>
